@charset "UTF-8";

header h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

nav {
    flex-flow: column;
    width: 100%;
}

nav a {
    margin-bottom: 5px;
    text-align: center;
}