@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #737373;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

header h1 {
    width: 200px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

nav {
    display: flex;
}

nav a {
    background-color: black;
    padding: 7px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;
}

main {
    background-color: #e6e6e6;
    height: 100vh;
    padding: 10px;
}

section {
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.473);
}

section p {
    text-align: justify;
    text-indent: 30px;
}
